stages:
  - build
  - test
  - deploy

# build_app:
#   stage: build
#   image: python:3.11-slim
#   script:
#     - pip install --upgrade pip
#     - pip install -r requirements.txt
#     - python -m compileall main.py

# test_app:
#   stage: test
#   image: python:3.11-slim
#   script:
#     - pip install --upgrade pip
#     - pip install -r requirements.txt
#     - pytest -q

deploy_app:
  stage: deploy
  script:
    - kubectl apply -f k8s/deployment.yaml